.App {
  background: #f9e9ec;
}
.NavBar{
  background: #ffffff;
}
 .NavLink{
  border-radius: 5px;
  align-items: center;
 }
 .NavLink:hover{
  background: #8390fa;
 }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
